@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html{
    height: 100%;
}
body{
    font-family: 'roboto', 'sans-serif';
    display: flex;
    flex-direction: column ;
    min-height: 100%;

}

/****** HEADER *******/

header nav.navbar.navbar-expand-lg.navbar-expand-md.navbar-expand-sm.navbar-expand-xs{
    background: #660066;
    height: 62px;

}
.container-fluid{
    background: red;

}

a.nav-link{
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    background-color: #b300b3;
    border-radius: 15px;
    box-shadow: 0 6px #6e2c8e;
    color:#d580ff ;
    font-size: 18px;
}
a.nav-link:hover{
    color: #8a0e7b;

}

a.nav-link:active{
    background-color: #9e029e;
    box-shadow: 0 5px #470169;
    transform: translate(4px);
}

/*!******* BODY *******!*/

div.search{
    width: 60%;
    height: 238px;
    border: 2px solid blue;
    position: absolute;
    background: linear-gradient(#e66465, #9198e5);
    padding-top: 10px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

div.custom-container{
    position: relative;

}

div.map{
    height: 720px;
    background: #fff;

}

/******* FOOTER *******/

footer p{
    color: #999;
    line-height: 15px;
}
h2,h3{
    color: #fff;
}

.footer-top{
    background: #111;
    padding: 80px 0;
}

.segment-one h3{
    font-family:Courgette ;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-two h2{
    font-family: Poppins;
    color: #fff;
    text-transform:uppercase ;
    font-size: x-large;
}

.segment-two h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-two ul{
    margin: 0;
    padding: 0;
}
.segment-two ul li {
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.segment-two ul li a {
    color: #999;
}
.segment-three h2{
    font-family: Poppins;
    color: #fff;
    text-transform: uppercase;
    font-size: x-large;
}
.segment-three h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}
.segment-three a i{
    font-size: 16px;
    color: #fff;
    padding: 10px 12px;
}
.segment-four h2{
    color: #fff;
    font-family: Poppins;
    text-transform: uppercase;
    font-size: x-large;
}
.segment-four h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

div.footer-copyright.text-center{
    margin-top: 50px;
}

/*responsive*/

@media only screen and (min-width: 768px) and (max-width: 991px)  {
    .md-mb-30{
        margin-bottom: 50px;
    }
}
@media only screen and(max-width: 767px) {
    .sm-mb-30{
        margin-bottom: 30px;
    }
    .footer-top{
        padding: 50px 0;
    }

}

@media only screen and (max-width: 700px) {
    .logo{
        display: none;
    }

}

/*page contact*/

.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 45px;
}

.section-content{
    text-align: center;

}
#contact{

    font-family: 'Teko', sans-serif;
    padding-top: 50px;
    height: 750px;
    background: #3a6186; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}
.contact-section{
    padding-top: 40px;
}
.contact-section .col-md-6{
    width: 50%;
}

.form-line{
    border-right: 1px solid #B29999;
}

.form-group{
    margin-top: 10px;
}
label{
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}
.form-control{
    font-size: 1.3em;
    color: #080808;
}
textarea.form-control {
    height: 135px;

}

.submit{
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
}
button.btn.btn-default.submit{
    background: #c65039;
}
button.btn.btn-default.submit:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*page register*/

div.container.form-group{
    width: 100%;
}

#register{

    font-family: 'Teko', sans-serif;
    padding-top: 50px;
    height: 750px;
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}


div.form-control input{
    border: none;
    width: 100%;
}

.cgu{

    width: 25%;
}

div.col{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.sign-right{

    display: flex;
    align-items: center;
    width: 100%;
    height: 246px;
}

#top-bloc{
    background-color: orange;
}
#bottom-bloc{
    background-color: green;
}

/*page login*/

#login{

    font-family: 'Teko', sans-serif;
    padding-top: 50px;
    height: 750px;
    background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}

.login-section{
    padding-top: 40px;
}
.login-section .col-md-6{
    width: 50%;
}














